<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    table,
    th,
    td {
      border: 1px solid;
    }
  </style>
  <title>Document</title>
</head>

<body>
  <h1>Result table</h1>
  <table>
    <tr>
      <th>Spec name</th>
      <th>Result</th>
    </tr>
    {% for result in results %}
    {% for assertion in result.assertions %}
    <tr>
      <td>{{ result.spec_name }}</td>
      <td>
        {% if assertion.passed() %}
        Passed
        {% else %}
        Failed
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
</body>

</html>
